<div class='page-form'>
  <div>
    <%= render 'pages/form' %>
  </div>
</div>

<iframe src='' width='100%' height='30000' id='page-view' scrolling="no"></iframe>
<div class='overlay' id='overlay'></div>
<script type="text/javascript" charset="utf-8">
  var PAGE_ID = '<%= @page._id %>'
  function load_page(url) {
    $('#page-view').attr('src', url)
    $('#overlay').drawing_board()
  }
  $(function() {
    var _input = $('#page_url')
    _input.blur(function(e) {
      load_page($(this).val())
    })
    if (_input.val()) load_page(_input.val())
    <% @page.tips.each do |tip| %>
      $('<div/>').attr('tip_id', '<%= tip.id %>').appendTo('body').admin_tip({
        pos: [<%= tip.point['l'] %>, <%= tip.point['t'] %>],
        size: [<%= tip.size['w'] %>, <%= tip.size['h'] %>],
        content: '<%= tip.body %>'
      })
    <% end %>
  })
</script>